@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: normal;
    src: local('Lexend'), url('../../public/Lexend/Lexend-VariableFont_wght.ttf') format('ttf');
}


@layer components {
    .nav-bar {
       @apply w-full h-[12%] flex justify-start items-center
              
    }
    .nav-bar-item {
        @apply flex justify-center items-center p-1 mx-2 text-[#61625c] font-Lexend text-sm
                hover:cursor-pointer hover:text-white font-bold transition-all ease-linear duration-150
    }
    .trans {
        @apply transition-all ease-linear duration-300
    }

    .nav-bar-buy-now {
        @apply flex justify-center items-center border border-slate-700 rounded-xl 
                p-2  hover:cursor-pointer hover:bg-slate-500 absolute right-6 bg-clip-text
                bg-gradient-to-r from-[#0EA2C5] to-[#C7F284] text-transparent font-bold  w-28 h-11
    } 
    
}   





