@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Next-Bravo';
    font-style: normal;
    font-weight: normal;
    src: local('Next-Bravo'), url('./fonts/Next-Bravo.woff') format('woff');
}


@layer components {
    .nav-bar {
       @apply w-full h-[12%] flex justify-start items-center
              
    }
    .nav-bar-item {
        @apply flex justify-center items-center p-1 mx-2 text-[#61625c]
                hover:cursor-pointer hover:text-white font-bold
    }
    .trans {
        @apply transition-all ease-linear duration-300
    }
    .nav-bar-buy-now {
        @apply flex justify-center items-center border rounded-xl text-white bg-[#121d28]
                p-2 px-5 mx-5 hover:cursor-pointer hover:bg-slate-500 absolute right-6
    } 
    
}   





